{% extends 'reviews/base.html' %} 
{% load static %}
{% block title%}
{{title}}
{%endblock %} 
{% block content %}
<div class="container container-md">
  {% if page_title %}
  <h1>{{page_title}}</h1>
  {% endif %}
  <div id="movie-list" class="d-flex flex-row justify-content-around flex-wrap">
    {% include 'reviews/movie_list.html' %}
  </div>
  <div class="row">
    <div class="col text-center">
      {% if hasMore %}
      <button id="loadMore" class="btn btn-lg btn-danger" id="row">
        Load more
      </button>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} {% block javascript %}
<script type="text/javascript">
  $.ajaxSetup({
    headers: { "X-CSRFToken": "{{csrf_token}}" },
  });
  var url_add_bookmark = "{% url 'add_bookmark' %}";
</script>
<script type="text/javascript" src="{% static 'reviews/folder.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/movie-reviews.js' %}"></script>
{% endblock %}