{% extends 'reviews/base.html' %}
{% load static %}
{% block title %}Home{% endblock %} {% block content %}
<div class="container">
    <div class="d-flex flex-row justify-content-around flex-wrap">
    <div class="card movie-card">
        <div class="card-body">
        <img src="https://static01.nyt.com/images/2019/06/05/arts/blackgodfather1/blackgodfather1-mediumThreeByTwo210.jpg">
         Movie #1
        </div>
      </div>
      <div class="card movie-card">
        <div class="card-body">
            <img src="https://static01.nyt.com/images/2019/06/05/arts/blackgodfather1/blackgodfather1-mediumThreeByTwo210.jpg">
        
         Movie #2
        </div>
      </div>
      <div class="card movie-card">
        <div class="card-body">
        <img src="https://static01.nyt.com/images/2019/06/05/arts/blackgodfather1/blackgodfather1-mediumThreeByTwo210.jpg">

         Movie #3
        </div>
      </div>
    </div>
</div>
{% endblock %}